@echo off

echo.
echo ************************************************************************
echo Updating to the recent cl-test-grid version...
echo ************************************************************************
call git pull

echo.
echo ************************************************************************
echo Running the test grid agent
echo ************************************************************************

rem Don't forget to prepare run-agent.lisp
rem based on run-agent.sample.lisp
rem
rem Test grid agent depends on several libraries and 
rem not all CL implementations can run it.
rem
rem Quicklisp is required to be installed and added to the init
rem file of the lisp you use. 
rem
rem As of 2012-07-25 and quicklisp 2012-07-03
rem
rem   - CCL 1.8 windows and linux - works (recommended,
rem          because it is used for development)
rem   - SBCL 1.0.57 linux - works
rem   - SBCL windows - No (problem with external-program)
rem   - CMUCL - No.
rem          (It was cmu-20crelease-20c20c_unicode-linux-x86,
rem          the first issue encountered is with external-program:
rem          https://github.com/sellout/external-program/issues/12)
rem   - ABCL - I don't know, but at least it would take some effort.
rem          I stopped when ABCL required JNA for CFFI (JNA is a Java 
rem          library to work with FFI). I need to learn
rem          how to make JNA available for ABCL.
rem   - ECL - No. When it starts child CCL process to update quicklisp, the CCL crashes.
rem          (it was ecl-12.7.1-dee2506a-win-x86).
rem   - CLISP 2.49 Windows - No.
rem          (Something seems to be wrong in external-program
rem           with passing program parameters).
rem   - other Lisps - not tested.
rem

rem CCL:
rem C:\Users\anton\unpacked\ccl\ccl-1.8-windows\wx86cl64.exe --load run-agent.lisp --eval "(quit)"
rem SBCL:
rem sbcl --load run-agent.lisp --eval "(quit)"
rem CLISP:
rem clisp -x "(load \"run-agent.lisp\")"
rem ABCL:
rem call C:\Users\anton\unpacked\abcl\abcl-bin-1.0.1\abcl.bat --batch --load run-agent.lisp
rem ECL
rem C:\Users\anton\projects\ecl\bin\ecl -load run-agent.lisp -eval "(quit)"
rem Allegro:
rem "C:\Program Files (x86)\acl82express\alisp.exe" -qq -L run-agent.lisp
