@echo off

rem Updating to the recent cl-test-grid version (required).
call git pull

rem Start your run-agent.lisp script. We suppose
rem Quicklisp is installed and added to the init
rem file of your lisp.

rem (EDIT THE PATH TO CCL)
C:\Users\testgrid\lisps\ccl-1.8-windows\wx86cl64.exe --load run-agent.lisp --eval "(quit)"
rem CCL is the recommented choice, as it is the test grid development platform.

rem As for lisps other than CCL, see docs/agent-portability.txt.
