@echo off

echo.
echo ************************************************************************
echo Updating to the recent cl-test-grid version...
echo ************************************************************************
call git pull

echo.
echo ************************************************************************
echo Running the test grid agent
echo ************************************************************************

rem Don't forget to prepare run-agent.lisp
rem based on run-agent.sample.lisp
rem 
rem Use the most reliable lisp implementation you have to run agent. 
rem We recomment CCL - it is used during development and is known
rem to run test grid agent without problems on Windows and Linux.
rem
rem Below are example parameters for various lisps.
rem Quicklisp is required to be installed and added to the init
rem file of the lisp you use. 

rem C:\Users\anton\unpacked\ccl\ccl-1.8-windows\wx86cl64.exe --load run-agent.lisp --eval "(quit)"
rem sbcl --load run-agent.lisp --eval "(quit)"
rem clisp -x (load \"run-agent.lisp\")"
rem call C:\Users\anton\unpacked\abcl\abcl-bin-1.0.1\abcl.bat --batch --load run-agent.lisp
rem "C:\Program Files (x86)\acl82express\alisp.exe" -qq -L run-agent.lisp
rem C:\Users\anton\projects\ecl\bin\ecl -load run-agent.lisp -eval "(quit)"
