#!/bin/sh

echo
echo "************************************************************************"
echo "Updating to the recent cl-test-grid version..."
echo "************************************************************************"
git pull

echo
echo "************************************************************************"
echo "Running the test grid agent..."
echo "************************************************************************"

# Don't forget to prepare run-agent.lisp
# based on run-agent.sample.lisp
#
# Use the most reliable lisp implementation you have to run agent. 
# Below are examples for various lisps.
# Quicklisp is required to be installed and added to the init
# file of the lisp you use. 

#/home/anton/ccl/ccl-1.7/lx86cl --load run-agent.lisp --eval "(quit)"
#clisp -x (load "run-agent.lisp")'
#export SBCL_HOME=/home/anton/sbcl/sbcl-1.0.54-x86-linux/lib/sbcl
#/home/anton/sbcl/sbcl-1.0.54-x86-linux/bin/sbcl --load run-agent.lisp --eval "(quit)"
#\path\to\abcl\abcl.sh --batch --load run-agent.lisp
#alisp -qq -L quicklisp/setup.lisp -L run-agent.lisp
#/opt/cmucl-20c/bin/lisp -load run-agent.lisp -eval "(quit)"
#ecl -load run-agent.lisp -eval "(quit)"
