/* Results */

.test-status {
}

.fail-status {
    color: red;
}

.warn-fail-status {
    color: orange;
}

.no-resource-status {
    color: #7A7A7A;
}

.ok-status {
    color: green;
}

.timestamp {
    font-style: italic;
}

/* Table */

.test-table {
    border-spacing: 0px;
    margin: 5;
    white-space: nowrap;
    font-weight: bold;
    border-collapse: collapse;
}

.test-table th {
    background: white;
}

.test-table td, .test-table th {
    padding-left: 2px;
    padding-right: 2px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

th.rotated-header {
    border-right: none;            
    border-left: 1px solid #e0e0e0;            
    vertical-align: bottom;
}

.rotated-header div {

    /* Firefox 3.5+ (Gecko 1.9.1+) */ 	
    -moz-transform: rotate(-35deg);
    -moz-transform-origin: 0 0;
    /* Safari 3.1+, Chrome */
    -webkit-transform: rotate(-35deg); 	
    -webkit-transform-origin: 0 0;
    /* IE 9+ */
    -ms-transform: rotate(-35deg);
    -ms-transform-origin: 0 0;
    /* Opera 10.5+*/ 	
    -o-transform: rotate(-35deg);
    -o-transform-origin: 0 0;

    width: 1ex;
}

/* Table highlighting */

th.hover, .hover { 
    background-color: #f2f2f2; 
}

th.no-hover {
    background-color: white;
    color: black !important;
}

.hover th, th.hover {
    color: blue;
}
