/* Results */

a.ok {
    color: green;
}	

a.fail {
    color: red;
}

a.no-resource {
    color :#7A7A7A;
}

a.to-overview {
    font-size: 20;
}

/* Table */

.test-table {
    border-spacing: 0px;
    margin: 5;
    white-space: nowrap;
    font-weight: bold;
}

/* Table highlighting */

.hover { 
    background-color: #dadada; 
}